@import '../../../../styles/variables.scss';

.this__day {
  padding: 20px;
  max-width: 400px;
  width: 100%;
  background: $light-background;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
}
.top__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.this__temp {
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  line-height: 117px;
  color: $primary-color;
}
.this__day {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
}
.this__time {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  color: $light-color;
  margin-bottom: 14px;
}

.this__city {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  color: #939cb0;
}
